.image{
    width: 100%;
    height: 500px;
    /* z-index: 3; */
}
.main{
    background-color:lightgrey;
    /* z-index: 1; */
    display: flex;
}
.box1{
    background-color:white;
    width: 29%;
    height: 450px;
    margin-bottom: 10px;
    margin-left: 45px;
    margin-top: 20px;
    /* padding-left: 10px; */

}
.box1-b-1{
  display: flex;
   
}
.box-image1{
    width: 150px;
    height: 150px;
    margin-left: 25px;
    display: flex; 
     flex-direction: row;
}
.img1{
    margin-left: 20px;
    margin-top: 20px;
}
.img2{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
.p{
    margin-left: 20px;
}

.banner {
    background-color: white;
    padding-top: 20px;
    padding-left: 0px;
    text-align: center;
  }
  
  .motorcycle-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  .motorcycle-list li {
    flex: 1;
    text-align: center;
  }
  
  .motorcycle-list img {
    max-width: 100%;
    height: auto;
  }
  .banner1{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    /* background-color: lightgray; */


  }
  .banner-box{
    width: 100%;
    height: auto;
    background-color: lightgray;
    /* margin-left: 10px; */
    margin-right: 10px;
  }
  .banner-box1{
    margin-top: 10px;
    /* background-color: cornflowerblue; */
  }

